<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find fast_livo)/config/ouster.yaml" />
	<!-- <rosparam command="load" file="$(find std_detector)/config/config_online.yaml" /> -->

	<node pkg="image_transport" type="republish" name="republish" 
      args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw" 
      output="screen" respawn="true"/>
	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
		<rosparam file="$(find fast_livo)/config/camera_realsense.yaml" />
	</node>

</launch> 	
