<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />
	<node pkg="image_transport" type="republish" name="republish" 
      args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw" 
      output="screen" respawn="true"/>

	<rosparam command="load" file="$(find fast_livo)/config/realsense.yaml" />
	<rosparam command="load" file="$(find std_detector)/config/config_online.yaml" />

	<node pkg="fast_livo" type="mag_field_visualizer.py" name="mag_field_visualizer" output="screen"/>

	<node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
		<rosparam file="$(find fast_livo)/config/camera_realsense.yaml" />
	</node>
	<node pkg="std_detector" type="online_demo"	name="online_demo" output="screen"/>
	<group if="$(arg rviz)">
		<!-- <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_livo" args="-d $(find fast_livo)/rviz_cfg/fast_livo2.rviz" /> -->
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_std" args="-d $(find std_detector)/rviz_cfg/online.rviz" />
	</group>
</launch> 	
